 /*@import "templatecolours.css";*/

 
 body{
    color: white;
     background-color: #161616;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
 }

 #content{
     display:grid;
     grid-template-columns: repeat(12,1fr);
     grid-auto-rows: minmax(100px,auto);
     grid-gap: 10px;
     max-width: 960px;
     margin: 0 auto;
 }
 
 #content > *{
     background-color: #313131;
     padding: 20px;
     border-radius: 10px;
 }

 header{
     grid-column: 1/13;
 }
   

 #chefsection-1{
     grid-column: 1/5;
     grid-row: 2/5;
 }

 #chefsection-2{
    grid-column:5/9;
    grid-row: 2/5;
 }

 #chefsection-3{
    grid-column:9/13;
    grid-row: 2/5;
 }

 #chefsection-4{
    grid-column:1/5;
    grid-row: 5/8;
 }

 #chefsection-5{
    grid-column:5/9;
    grid-row: 5/8;
 }

 #chefsection-6{
    grid-column:9/13;
    grid-row: 5/8;
 }


 footer{
     grid-column: 1/13;
     grid-row: 9/10; 
 }

 .socials {
    margin-top: 10px;
  }
  
  ion-icon {
  
    margin-top: 10px;
  }
  
  ion-icon:hover {
  
    color: #000000;
  
  }

  input {
    background-color: antiquewhite;
    /*position: absolute;*/
    top: 33px;
    /*margin-top: 33px;*/
    left: 200px;
    width: 400px;
    border-radius: 10px;
    float:right;
    margin-right: 10px;
    }
    
    
    
    #register-button {
    background-color: black;
    /*position: relative;*/
    color: white;
    cursor: pointer;
    /*top: 33px;*/
    /*left: 900px;*/
    width: 164px;
    height: 48px;
    padding: 0px 8px;
    border-radius: 12px;
    float: right;
    margin-right: 5px;
    
    }
    
    #login-button {
        background-color: gray;
        color: white;
        cursor: pointer;
        float: right;
        width: 100px;
        height: 48px;
        padding: 0px 8px;
        border-radius: 12px;
    }

.footer-one{
    float: left;
    text-align: left;
}

.footer-two{
    float: right;
    text-align: left;
}

  /*NAVIGATION BAR CSS */

nav{
    margin-top: 50px;
}
nav>ul {
float: Left;
list-style-type: none;
/*margin: 10;*/
padding: 0;
overflow: hidden;
/*margin-left: 110px;
margin-right: 110px;*/
margin-bottom: 0;
}

nav>ul>li {
float: left;
}

nav>ul>li a {
display: block;
color: white;
text-align: center;
padding: 10px 30px;
text-decoration: none;
}



/*IMAGES SIZING CSS */
#logo {
float: left;
width: 120px;
margin: 0;
}

#food-banner{
   width: 900px;
   height: 400px;
   background-size: contain;
   background-position: center;
   border-radius: 5px;

}


/*#Blog-image{
    float: left;
    width: 240px;
    height: 240px;
    border-radius: 5px;
}*/

/*CHEF STYLING*/
#chef-1{
    width: 240px;
    height: 240px;
    border-radius: 100%;
}

#chef-1{
    width: 240px;
    height: 240px;
    border-radius: 100%;
}

#chef-2{
    width: 240px;
    height: 240px;
    border-radius: 100%;
    object-fit: cover;
}

#chef-3{
    width: 240px;
    height: 240px;
    border-radius: 100%;
    object-fit: cover;
}

#chef-4{
    width: 240px;
    height: 240px;
    border-radius: 100%;
    object-fit: cover;
}

#chef-5{
    width: 240px;
    height: 240px;
    border-radius: 100%;
    object-fit: cover;
}

#chef-6{
    width: 240px;
    height: 240px;
    border-radius: 100%;
    object-fit: cover;
}



#jollof-image{
    width: 240px;
    height: 240px;
    background-size: contain;
    background-position: center;
    border-radius: 5px;
}

#fried-rice{
    width: 240px;
    height: 240px;
    border-radius: 5px;
}