 /*@import "templatecolours.css";*/

 
 body{
    color: white;
     background-color: #161616;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
 }

 #content{
     display:grid;
     grid-template-columns: repeat(12,1fr);
     grid-auto-rows: minmax(100px,auto);
     max-width: 960px;
     margin: 0 auto;
     border-radius: 20px;
 }
 
 #content > *{
     background-color: #313131;
     padding: 20px;
    /* border-radius: 10px;*/
 }

 #login-image{
    width: 440px;
    height: 660px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 }

 #login-logo{
    float: right;
    width: 120px;
    margin: 0;
    border-radius: 5px;
    }

 #register-1{
    grid-column: 1/7;
    grid-row: 1/8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 }

 #register-2{
    grid-column: 7/13;
    grid-row: 1/8;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }

 #register-wrapper{
   width: 330px;
   padding: 2rem 1rem;
   margin: 120px auto;
   background-color: #777676;
   border-radius: 10px;
   text-align: center;
   box-shadow: 0 20px 35px #000000;
 }

